<div class="single-post">
    <div class="card">
      <div class="card-header">
      <h3 >{{post.title}}</h3>
      <span>Posted by {{post.user.username}} on {{post.created_at}}</span>
      </div>
        <div class="card-body">
          <p>{{post.post_content}}</p>
            <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
        </div>
      </div>
</div>
{{#if loggedIn}}
<div class="card">
<form id="comment-form" class="card-body">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button class="btn" type="submit">add comment</button>
  </div>
</form>
</div>
{{/if}}
<div class="comments-list">
  {{#each post.comments}}
  <div class="card">
    <div class="card-header">
      {{user.username}} on {{created_at}}
    </div>
    <div class="card-body">
      {{comment_text}}
    </div>
  </div>
  {{/each}}
</div>
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}